<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<!-- pipe list -->
	<servlet>
		<servlet-name>pipeListServelet</servlet-name>
		<servlet-class>org.hum.wiretiger.console.servlet.PipeListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pipeListServelet</servlet-name>
		<url-pattern>/pipe/list</url-pattern>
	</servlet-mapping>
	<!-- pipe detail -->
	<servlet>
		<servlet-name>pipeDetailServlet</servlet-name>
		<servlet-class>org.hum.wiretiger.console.servlet.PipeDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>pipeDetailServlet</servlet-name>
		<url-pattern>/pipe/get</url-pattern>
	</servlet-mapping>
	<!-- connection list -->
	<servlet>
		<servlet-name>RequestListServlet</servlet-name>
		<servlet-class>org.hum.wiretiger.console.servlet.RequestListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestListServlet</servlet-name>
		<url-pattern>/request/list</url-pattern>
	</servlet-mapping>
	<!-- connection detail -->
	<servlet>
		<servlet-name>RequestDetailServlet</servlet-name>
		<servlet-class>org.hum.wiretiger.console.servlet.RequestDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestDetailServlet</servlet-name>
		<url-pattern>/request/get</url-pattern>
	</servlet-mapping>
	<!-- download_cert -->
	<servlet>
		<servlet-name>certDownloadServlet</servlet-name>
		<servlet-class>org.hum.wiretiger.console.servlet.CertDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>certDownloadServlet</servlet-name>
		<url-pattern>/cert/download</url-pattern>
	</servlet-mapping>
</web-app>